.form-divs{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 10px;
}

.center{
    margin:auto;
    width:50%;
}
.center h2{
    text-align: center;
}
.center input{
    width:80%;
}
.center input[type=submit]{
    width:100%;
}
.center select{
    width:80%;
}

